<h1>Login</h1>
<br>
<% if flash[:notice] %>
    <%= flash[:notice] %>
<%end%>

    <%= form_tag("/sessions") do %>
        <%= label_tag "Email:" %>
        <%= text_field_tag "email" %>
        <%= submit_tag "Login" %>
    <% end %>